.top-container {
  background-color: #B3E8E5;
  padding: 100px;
}

h1 {
  font-size: 85px;
  font-family: 'Sacramento', cursive;
  margin-top: 50px auto 0 auto;
  color: #2F8F9D;
  font-weight: normal;
  line-height: 0.8;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #2F8F9D;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3BACB6;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  padding: 0;
  color: #40514E;
}

.middle-container {

}

.bottom-container {
background-color: #82DBD8;
margin: 0;
padding: 50px 0 20px;
}

img {
  margin: 0;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  top: 365px;
}

.top-cloud {
  position: absolute;
  left: 70%;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.drums-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #48b5bd;
  background-image: -webkit-linear-gradient(top, #48b5bd, #368aba);
  background-image: -moz-linear-gradient(top, #48b5bd, #368aba);
  background-image: -ms-linear-gradient(top, #48b5bd, #368aba);
  background-image: -o-linear-gradient(top, #48b5bd, #368aba);
  background-image: linear-gradient(to bottom, #48b5bd, #368aba);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #78bade;
  background-image: -webkit-linear-gradient(top, #78bade, #2e78a6);
  background-image: -moz-linear-gradient(top, #78bade, #2e78a6);
  background-image: -ms-linear-gradient(top, #78bade, #2e78a6);
  background-image: -o-linear-gradient(top, #78bade, #2e78a6);
  background-image: linear-gradient(to bottom, #78bade, #2e78a6);
  text-decoration: none;
}


hr{
  border: dotted grey 5px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

.intro{
  margin: auto;
  width: 40%;
}

.profile{
  margin: 4rem;
}

.contact-me{
  line-height: 1.6;
  margin-bottom: 65px;
}

p{
  line-height: 1.8;
}

.contact-message{
  width: 35%;
  margin: 40px auto 60px;
}

.copyright{
  padding: 20px 0;
  color: #EAF6F6;
  font-size: 0.9rem;
}
